.container {
    width: 100%;
    min-height: 100vh;
    background: #0f172a;
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #111827;
}

.content {
    flex: 1;
    padding: 20px;
}
