/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* THEME */

:root{
--bg:#f8f7ff;
--card:#ffffff;
--primary:#7c5cff;
--text:#111827;
--subtext:#6b7280;
--shadow:0 8px 30px rgba(124,92,255,.15);
}

[data-theme="dark"]{
--bg:#0f1117;
--card:#171923;
--primary:#9f67ff;
--text:#ffffff;
--subtext:#a1a1aa;
--shadow:0 8px 30px rgba(0,0,0,.4);
}

/* BODY */

body{
background:var(--bg);
font-family:Arial,sans-serif;
color:var(--text);
overflow-x:hidden;
position:relative;
transition:.3s;
}

/* BLUR BACKGROUND */

body::before{
content:"";
position:fixed;

width:500px;
height:500px;

top:-150px;
right:-150px;

background:
rgba(124,92,255,.18);

filter:blur(150px);

border-radius:50%;

z-index:-1;
}

body::after{
content:"";
position:fixed;

width:500px;
height:500px;

bottom:-150px;
left:-150px;

background:
rgba(124,92,255,.12);

filter:blur(150px);

border-radius:50%;

z-index:-1;
}

/* MAIN LAYOUT */

.dashboard{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:240px;
background:var(--card);

padding:30px 20px;

box-shadow:var(--shadow);

display:flex;
flex-direction:column;

gap:25px;
}

.sidebar h1{
color:var(--primary);
font-size:28px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
margin-bottom:20px;
cursor:pointer;
color:var(--subtext);
font-weight:600;
}

.sidebar li:hover{
color:var(--primary);
}

/* MAIN CONTENT */

.main{
flex:1;
padding:30px;
display:flex;
flex-direction:column;
gap:28px;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

/* STATS */

.stats{
display:grid;

grid-template-columns:
repeat(auto-fit,minmax(170px,1fr));

gap:18px;

margin-top:10px;
margin-bottom:35px;
}

.statCard{
background:var(--card);

padding:25px;

border-radius:24px;

box-shadow:var(--shadow);
}

.statCard h2{
font-size:35px;
margin-top:10px;
}

/* FEATURES */

.features{
display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:22px;

margin-top:15px;
}

.featureCard{
background:var(--card);

padding:26px;

border-radius:24px;

box-shadow:var(--shadow);

transition:.3s;

display:flex;
flex-direction:column;
gap:14px;
}

.featureCard:hover{
transform:translateY(-5px);
}

.settingsBtn{
margin-top:15px;

border:none;

padding:10px 18px;

border-radius:12px;

cursor:pointer;

background:var(--primary);

color:white;
}

/* MOBILE */

@media(max-width:768px){

.dashboard{
flex-direction:column;
}

.sidebar{

width:100%;

padding:20px;
}

.main{
padding:20px;
}

.topbar{
flex-direction:column;
align-items:flex-start;
gap:15px;
}

}

h1,h2,h3{
margin-bottom:10px;
}

p{
line-height:1.7;
}

button{
margin-top:8px;
}

.featureCard h3{
margin-bottom:20px;
}

.featureCard p{
margin-bottom:22px;
line-height:1.7;
}

.featureCard input{
margin-bottom:28px;
transform:scale(1.3);
}

.featureCard button{
margin-top:auto;
width:100%;
padding:16px;
border:none;
border-radius:18px;

background:var(--primary);

color:white;

font-weight:bold;

cursor:pointer;
}
